body{
    background-color: #b5b5b5;
}

/* keyframes for rotating animation */
@-webkit-keyframes spin {
    from { transform: rotateY(0); }
    to   { transform: rotateY(180deg); }
}

/* scene wrapper */
.wrapper{
    height: 300px;
    margin-top:50px;
    position:relative;
    perspective: 800;
    perspective-origin: 50% 100px;
}

/* cube wrapper */
.cube{
    position: relative;
    margin: 0 auto;
    width: 200px;
    transform-style: preserve-3d;
    animation: spin 4s infinite linear;
    transition: all 1s linear;
}


/* inner cube */
i{
    position:absolute;
    top:50px;
    left:50px;
    width:100px;
    height:50px;
    display:block;
    transition: all 1s linear;
}

i.front{
    background-color: #257d8b;
    transform: translateZ(50px);
}
i.back{
    background-color: #257d8b;
    transform: translateZ(-50px) rotateY(180deg);
}
i.bottom{
    transform:rotateX(-90deg) translateY(50px);
    transform-origin: left bottom;
}
i.left{
    background-color: #aceefa;
    transform:rotateY(270deg) translateX(-50px);
    transform-origin: center left;
}
i.right{
    background-color: #aceefa;
    transform:rotateY(-270deg) translateX(50px);
    transform-origin: top right;
}
i.top{
    background-color: #3fcbe4;
    transform:rotateX(-270deg) translateY(-50px);
    transform-origin: left top;
}

/* hover transformations 
.cube:hover{
  top:150px;
}
.cube:hover b.top{
  transform: translateZ(100px) rotateX(-210deg);
  transform-origin: top center;
}
.cube:hover i{
  top:-200px;
}*/